@import './base/settings';
@import './base/base';

nav.navbar {
    background-color: $primary;
    padding: .5em;
    form.content_search {
        margin-left: 1em;
        flex: .9 1 0px;
        width: 100%;
        position: relative;
        padding-right: 1em;
        input.input_search {
            background-color: white;
            border: 0;
            padding: 1em;
            width: 100%;
            -webkit-box-shadow: 5px 5px 15px -11px #000000; 
            box-shadow: 5px 5px 15px -11px #000000;
            outline: none;
        }
        button.button_search {
            background-color: $light-gray;
            border: 0;
            position: absolute;
            right: -10px;
            top: 0px;
            padding: .5em;
            max-width: 38px;
            max-height: 42px;
        }
    }
}

.items_screen_content {
    background-color: $light-gray;
    min-height: 100vh;
    .content-product-list {
        border-bottom: 1px solid $light-gray;
        padding: 1em;
        .image-content {
            flex: .3 1;
        } 
        .data-content {
            flex: .7 1;
            .price-content {
                margin-bottom: 1em;
            }
        }
    }
}