/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .d-block {
        display: block !important;
    }

    .content-product-list {
        align-items: center;   
    }

    .image-content {
        flex: .7 1 !important;
    }

    .content-product-list {
        padding: 0 !important;
    }

}